<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="title-tasks">
            <h1 id="title">TODO</h1>
            <div class="tasks-container">
                <div class="tasks">
                    <ul>

                    </ul>
                </div>
                <form action="/submit" method="post" autocomplete="off">
                    <input type="text" name="task-input" id="task-input" placeholder="Add a Task" required>
                </form>
            </div>
        </div>
    </div>
</body>
</html>