* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    background-color: #F7F9FB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-container {
    background-color: white;
    filter: drop-shadow(3px 75px 31px rgba(0, 0, 0, 0.172));
    border-radius: 35px 35px 0px 0px;
    min-height: 625px;
    max-height: fit-content;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.title-tasks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    text-align: center;
    margin-top: 75px;
    font-size: 54px;
    color: #000000aa;
    letter-spacing: 6px;
    font-family: Helvetica, sans-serif;
}

#task-input {
    border: none;
    border-radius: 25px;
    background-color: #F8F8F8;
    padding: 20px;
    width: 300px;
    margin-bottom: 10px;
    filter: drop-shadow(3px 10px 5px rgba(0, 0, 0, 0.119));
}

li {
    width: fit-content;
}

a {
    color: rgba(0, 0, 0, 0.675);
}

.task-item {
    list-style: none;
    text-align: left;
    margin-bottom: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.675);
    letter-spacing: 0.5px;
    user-select: none;

    background-color: #F8F8F8;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bi-trash:hover {
    color: red;
}